include LICENSE NOTICE README.md CITATION.cff CHANGELOG.md
recursive-include docs *.md
recursive-include assets *.jpg *.svg *.json
recursive-include examples *.py *.sh
recursive-include tests *.py
global-exclude __pycache__ *.py[cod] .DS_Store
